<div class="album text-muted">
  <div class="row">
    <% @marks.each do |mark| %>
      <div class="card" text-center>
        
        <div class="card-block">
          <h4 class="card-title">Метка <%= mark.id %></h4>
          <p class="card-text">Номер машины: "<%= mark.car_number %>"</p>
          <p class="card-text">Метка создана: <%= mark.created_at %></p>      
          <p class="card-text"><small class="text-muted">Последнее изменение: <%= mark.updated_at %></small></p>
          <a href="/marks/<%= mark.id %>/edit" class="btn btn-primary">Редактировать</a>
        </div>
      </div>
      <hr class="my-4">

    <% end %>
  </div>
</div>