
  <div class="i-am-centered">
    <div class="container">
      <% @marks.each_slice(3) do |slice| %>
        <div class="row buffer">
          <div class="card-deck">
            <% slice.each do |mark| %>
              <div class="card my-3 box-shadow" >
                <img class="card-img-top" src="uploads/mark/image/<%= mark.id %>/image_<%= mark.id %>.<%= "#{mark.image.path}".rpartition('.').last %>" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                  <h4 class="card-title text-center">
                    <a href="/marks/<%= mark.id %>"> <%= mark.title %> </a>
                  </h4>
                  <p class="card-text">Автор: <%= mark.author %></p>
                  <p class="card-text">Номер машины: "<%= mark.car_number %>"</p>

                  <div class="card-text" style="margin-bottom: 20px">
                    <span class="badge badge-pill badge-primary tag">tag 1</span>
                    <span class="badge badge-pill badge-primary">tag 2</span>
                  </div>

                  <div class="mt-auto">
                    <small class="text-muted">
                      <p>Метка создана: <%= mark.created_at %></p>
                    </small>
                  </div>
                
                </div>
                <div class="card-footer text-muted text-center">
                  <a href="/marks/<%= mark.id %>/edit" class="btn btn-primary">Редактировать</a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  
  </div>
